body  {
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
height: 40pt;
font-size: 20pt;
}
