:root {
    /* colors */
    /* CSS HSL */
    --wenge: hsla(349, 7%, 31%, 1);
    --mint-cream: hsla(96, 38%, 95%, 1);
    --cambridge-blue: hsla(156, 33%, 67%, 1);
    --rose-red: hsla(348, 52%, 46%, 1);
    --flax: hsla(48, 64%, 70%, 1);
    /* rounding corners */
    --br-big: 25pt;
    --br-lesser: 10pt;
}

html {
    scroll-behavior: smooth;
    transition: all 0.9s ease-out;
}

.body {
    min-height: 100vh;
    background-color: var(--wenge);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.acc-hidden {
    display: none;
}

.header,
.footer,
.container {
    background-color: var(--rose-red);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: flex-start;
    background-color: var(--wenge);
}

.accordion {
    width: 80%;
    height: 100%;
    /* border-radius: var(--br-big); */
    background-color: var(--wenge);
    justify-content: flex-start;
    margin: 10px;
}

.mem-container {
    width: 100%;
    margin-top: 10px;
    border-radius: var(--br-lesser);
    background-color: var(--flax);
}

.mem-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    text-align: left;
    padding-left: 10px;
    background-color: var(--rose-red);
    border-radius: var(--br-lesser);
    height: 45px;
    cursor: pointer;
    font-weight: bold;
}

.mem-container:hover .mem-header {
    border-radius: var(--br-lesser) var(--br-lesser) 0 0;
    background-color: var(--mint-cream);
    transition: background-color 0.5s ease-out;
}

.mem-container:hover {
    border: 5px solid var(--rose-red);
    transition: border 0.5s ease-out;
}

.mem-container:hover .mem-body {
    background-color: var(--flax);
    transition: all 0.5s ease-out;
    max-height: 380px;
    transition: max-height 0.5s ease-in-out;
}

.mem-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    max-height: 0;
    border-radius: var(--br-lesser);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* display: none; */
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mem-header:hover~div {
    display: flex;
}

.mem-container:target .mem-body {
    max-height: 380px;
    transition: max-height 0.5s ease-in-out;
}


/* 
.mem-container:nth-child(1) .mem-body {
    max-height: 1000px;
    overflow: visible;
} */